//Colors
$background-color: black;
$nav-font-color: #d9d9d9;
$nav-hover-color: #00aeff18;
$nav-hover-title-color: #1da1f2;
$news-bg-color: #16191d;
$section-border: 0.2px solid rgb(42, 42, 42);
$card-bg-color: rgb(24, 24, 24);

//Dimensions
$feed-header-margin-B: 30px;
$create-post-padding: 30px;
$card-padding: 15px;
$card-border-radius: 15px;
