.newsCard {
  background-color: $card-bg-color;
  width: 100%;
  border-radius: $card-border-radius;

  &__container {
    padding: 15px;
  }
  &__info:nth-child(2) {
    font-weight: bolder;
  }
  &__container:nth-child(n+1):nth-child(-n+6) {
    border-bottom: $section-border;
  }
}
